{% extends "base.html" %}
{% block title %}Broadcasts | Perspective Stream{% endblock %}
{% block content %}
<h1>Your Broadcasts</h1>
<p>
    <a href="{% url 'broadcasts:broadcast_create' %}">Create New Broadcast</a>
    |
    <a href="{% url 'broadcasts:broadcast_create' %}?now=1">Go Live Now</a>
    
</p>
<ul>
    {% for broadcast in broadcasts %}
    <li>
        <strong>{{ broadcast.title }}</strong> ({{ broadcast.privacy }})<br>
        {{ broadcast.start_time|date:"Y-m-d H:i" }}<br>
    <a href="{% url 'broadcasts:broadcast_studio' broadcast.pk %}">Enter Studio</a>
    |
    <a href="#">Edit</a>
    </li>
    {% empty %}
    <li>No broadcasts found.</li>
    {% endfor %}
</ul>
{% endblock %}
